* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    html,body{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 28, 33);
    }
    .navbar {
        width: 100%;
        background-color: #333;
        padding: 15px;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    
    .navbar-brand {
        color: #f0f0f0;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
    }
    .main{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
    }
    
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 19vw);
        grid-template-rows: repeat(9, 4.2vh);
        gap: 1.3vw;
       
        overflow: hidden;
        background-color: rgba(22, 22, 22, 0.106);
    }
      
    .grid-item {
        background-image: url('https://i.postimg.cc/g2qcxXmp/Screenshot-2024-04-29-at-10-33-17-AM.png');
        background-size: cover;
        border-radius: 5px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        
    }
    
    button {
        margin-top: 20px;
        width: 70%;
        height: 5vh;
        background-color: rgb(50, 255, 47);
        border-radius: 10px;
        text-align: center;
        border: none;
        font-weight: 300;
        font-size: 20px;
    }
    
    h4{
        color: #00E700;
        text-align: center;
    }
    h2{
        color: #00E700;
        text-align: left;
        line-height: 10px;
    }
    button{
        background-color: #00E700;
        color: black;
        width: 70vw;
        height: 5vh;
        font-size: 4vw;
        border: none;
        border-radius: 10px;
    }
    
    /* Responsive design */
    
    .card {
        height: 40vw;
        
        width: 95%;
        display: flex;
        overflow: hidden;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.15);
        margin-top: 10px;
        
      }
      
      .cardimg {
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
        padding: 10px;
        width: 40%;
        height: 90%;
        background-color: white;
        background-position: center;
        background-size: cover;
      }
      
      .cardimg img {
        max-width: 80%;
        max-height: 90%;
        aspect-ratio: 1/1;
        border-radius: 5px;
      }
      
      .cardinfo {
        padding: 10px;
        width: 60%;
        height: 90%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 5px;
      }
      
      .cardinfo h5 {
        text-align: left;
      }
      
      .card button {
        width: 100%;
      }
      
      /* Styling START for BUTTON */
      /* Styling START for Popup Overlay */
    .popup-overlay {
        display: flex;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 30vh;
        max-width: 700px;
        text-align: center;
      }
      
      .popup-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: white;
        padding: 40px;
        border-radius: 5px;
        font-size: 3.8vw;
        height: 100%;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
      }
      
      #closePopup {
        margin-top: 10px;
      }
      
      /* Styling for END FOR POPUP */
    
    #notes{
      height: 20vh;
      width: 90%;
      border-radius: 10px;
      background-color: #0c0e11;
      color: white;
      display: flex;
      gap: 3vw;
      justify-content: center;
      flex-direction: column;
      
    }
    #notes h4{
        text-align: left;
        margin-left: 5vw;
       
    }
    
    .timer {
        font-size: 24px;
        font-weight: bold;
        color: #0bff17;
        text-align: center;
        padding: 10px;
       
        border-radius: 5px;
        width: 50px;
      }
      
